{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Proyecto Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
    <h1>Proyecto Módulo 6 - Lección 3</h1>
</header>

<nav>
    <a href="{% url 'inicio' %}">Inicio</a> |
    <a href="{% url 'contacto' %}">Contacto</a>
</nav>

<hr>

<main>
    {% block content %}
    {% endblock %}
</main>

<hr>

<footer>
    <p>© 2026 - Marcelo Castillo</p>
</footer>

</body>
</html>
